<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <activity
            android:name=".Game"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/StreamTheme" />

        <service
            android:name=".computers.ComputerManagerService"
            android:exported="false" />
        <service
            android:name=".binding.input.driver.UsbDriverService"
            android:exported="false" />
    </application>
</manifest>
